body{
    background: linear-gradient(350deg ,#FF0000 , #000000);
}




.d-info{
    margin-top: 2rem;
    color: white;
    margin-bottom: 4rem;

}

.d-img{
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.botones{
    display: flex;
    flex-direction: column;
}
