body{
    background-image: url(../img/fondoN.png);    
  
}
.card{
    width: 20rem;
    transition: ease-in.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
}

.card:hover{
    width: 22rem;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

a{
    text-decoration: none;
    color: black;
}

.card-img-top {
    width: 100%;
    height: 500px; /* Establecer una altura fija para las imágenes */
    object-fit: cover; /* Ajustar la imagen para cubrir el contenedor */
}

